.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa-linkedin {
    background: #0e76a8;
    color: white;
  }

  body {
      font-family: 'Quicksand', serif;
  }